# MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/event-db

# JWT secret key for admin authentication
JWT_SECRET=your_jwt_secret_key

# API key for sending email confirmations (e.g., Resend, SendGrid, etc.)
RESEND_API_KEY=your_resend_api_key

# Secret key to allow admin registration (used during signup logic)
ADMIN_REGISTRATION_KEY=your_custom_admin_key
